extends layout

block content
	div.container
		div.jumbotron
			h1 FoodMe
			p Welcome to FoodMe!
			- if(!user)
				p Sign in to get started
				button(class='btn btn-primary btn-lg', type='button', data-toggle='modal', data-target='#loginModal') sign in