<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.segfault.foodme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
	 
    <application
        android:icon="@drawable/ic_launcher"
        android:label="FoodMe"
        android:theme="@style/Theme.Example" >
        <activity android:name=".SplashScreenActivity" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainMenuActivity" 
            android:screenOrientation="landscape">     
                  
        </activity>
        
        <activity android:name=".EntreeActivity" 
            android:screenOrientation="landscape">            
        </activity>
        
        <activity android:name=".DessertActivity" 
         	   android:screenOrientation="landscape">             
        </activity>
        
       	<activity android:name=".DrinkActivity" 
       	    android:screenOrientation="landscape">
        </activity>
        
       	<activity android:name=".AppetizerActivity" 
       	    android:screenOrientation="landscape">       	    
     	</activity>
     	
       	       	<activity android:name=".MyOrderActivity" 
       	    android:screenOrientation="landscape">       	    
     	</activity>

        <provider 
            android:name=".TabletContentProvider"
        	android:authorities="org.segfault.foodme.tabdbprovider"
        	android:exported="false"
        	android:syncable="true">
        </provider>        
        <service
            android:name="org.segfault.foodme.service.datasync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name="org.segfault.foodme.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>
        
    </application>
    
</manifest>